.contact-form {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.contact-form input.form-control,
.contact-form textarea.form-control {
    border-radius: 0;
    padding: 10px 20px;
    font-size: 14px;
    border-color: #ccc;
}

.contact-form input.form-control:focus,
.contact-form textarea.form-control:focus {
    box-shadow: none;
    border-color: #777;
}

.contact-form button {
    border: 0;
    padding: 15px;
}